<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Geodesignhub Tags Manager</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='assets/css/flatty.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/base.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        
        .pull-right {
            float: right;
        }

        a {
            color: #00AED8;
        }

        a:hover {
            color: #00AED8;
        }

        section {
            padding-top: 20px;
        }

        .herounit {
            background: #E5E4E2;
            padding-bottom: 25px;
        }
    </style>
</head>

<body>

    <div class='herounit'>
        <div class="container">
            <!-- Static navbar -->
            <!-- Main component for a primary marketing message or call to action -->
            <br>
            <h1>Geodesignhub Tags Helper</h1>
            <br>
            <p>This is a text based dashboard of your Geodesignhub project via the <a
                    href="http://www.geodesignhub.com/api/" target="_blank">Geodesignhub API</a> experiment to. In
                addition to showing the text based information about the individual diagrams, diagram notes can be
                displayed as well. For more information, see the <a
                    href="https://geodesignhub.github.io/dashboard">Github</a> page.</p><br>

        </div>
    </div>
    <br>
    <div class="container">
        <section>
        
            <br>
            <h2>All Tags</h2>
            <br>
            <div id="tags-list">
                <ul class="list">
                    <% var tags_len = data[2].length;
                    if (tags_len !== 0) {
                        for (var j1 = 0; j1 < tags_len; j1++ ) { 
                        var current_tag = data[2][j1]; 
                        
                    %>
                    <li>
                        <p id="<%=current_tag.id %>"><%= current_tag.tag %></p>
                    </li>
                  <% } } %>
                  
                </ul>
              </div>
        </section>


        <section>
            <br>
            <h2>All Diagrams</h2>
            <br>
            
            <div id="diagrams-list">
                <ul class="list">
                    <% var diag_len = data[1].length;
                    if (diag_len !== 0) {
                        for (var j = 0; j < diag_len; j++ ) { 
                        var current_diagram = data[1][j]; 
                        %>
                  <li>
                     <p class="name"><%= current_diagram.worlddescription %></p>
                     <p class="city"><%= current_diagram.system_name %> <%= current_diagram.rank %></p>
                  </li>
                  <% } } %>                  
                  
                </ul>
              </div>
        </section>


        <section>
            <br>
        </section>
    </div>
    
    <script src="assets/js/humane.min.js"></script>
    
</body>

</html>